/* Import Poppins and set global font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html, body {
	font-family: 'Poppins', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*    font-family: Arial, sans-serif;*/
/*}*/



/*header {*/
/*    width: 100%;*/
/*    padding: 30px 30px;*/
/*    background: #104b0b;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*    border-bottom: 1px solid #eee;*/
/*    position: sticky;*/
/*    top: 0;*/
/*}*/
/*.greetings {*/
/*    margin-right: 150px;*/
/*    color: #ffffff;*/
/*    font: Montserrat;*/
/*}*/

/*.logo img {*/
/*    height: 80px;   !* Adjust the height *!*/
/*    width: 120px;   !* Adjust the width *!*/
/*    object-fit: contain;  !* Keeps the image proportions *!*/
/*    margin-left: 100px;*/
/*}*/


/*.nav-links a {*/
/*    margin-left: 20px;*/
/*    margin-right: 100px;*/
/*    text-decoration: none;*/
/*    color: #333;*/
/*    font-weight: 500;*/
/*}*/

/*.nav-links a:hover {*/
/*    color: #e67399;*/
/*}*/

/*!* Mobile toggle *!*/
/*.menu-toggle {*/
/*    display: none;*/
/*    font-size: 24px;*/
/*    cursor: pointer;*/
/*}*/

/*!* Mobile Menu *!*/
/*.mobile-menu {*/
/*    display: none;*/
/*    flex-direction: column;*/
/*    background: #fff;*/
/*    padding: 20px;*/
/*    border-bottom: 1px solid #ddd;*/
/*}*/

/*.mobile-menu a {*/
/*    text-decoration: none;*/
/*    color: #333;*/
/*    margin: 10px 0;*/
/*    font-size: 1.1rem;*/
/*}*/

/*.mobile-menu.open {*/
/*    display: flex;*/
/*}*/

/*!* RESPONSIVE *!*/
/*@media (max-width: 768px) {*/
/*    .nav-links {*/
/*        display: none;*/
/*    }*/

/*    .menu-toggle {*/
/*        display: block;*/
/*        margin-right: 100px;*/
/*        color: #ffcc48;*/
/*    }*/
/*}*/

